html * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 1vw;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Montserrat', sans-serif;
}
/*MAGIA FLEXBOX EN ROOT*/
#root{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    background-color: rgba(9, 1, 54, 0.863);
    /* rgba(9, 1, 54, 0.863) */
}
/* MAGIA FLEXBOX EN HEADER */
header, footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(7, 1, 32, 0.76);
    border: 0.1rem solid black;
    width: 95%;
    /* margin-top: 1rem; */
    padding: 0 1rem;
    min-height: 5rem;
}
header{
    border-top: transparent;
}
/* MAGIA MAIN */
main{
    width: 95%;
    flex-grow: 1;
}
/* MAGIA FOOTER */
footer{
    color:white;
    margin-top: 0;
    border-bottom: transparent;   
}
/* ESTILOS NAVBAR */
header nav, footer nav{
    display: flex;
    /* background-color: lightyellow; */
    justify-content: space-between;
    align-items: center;
    width: 20%;
}
footer nav{
    width: 8%;
}
header nav a, footer nav a{
    color: white;
    text-decoration: none;
}
header nav a:hover, footer nav a:hover{
    text-decoration: underline;
}
header nav a.active, footer nav a.active{
    color: rgba(255, 136, 0, 0.541); 
}
.tituloNavBar{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.tituloNavBar a{
    text-decoration: none;
}
.tituloNavBar a h1{
    margin-left: 1rem;
    color: white;
    text-shadow: 0.05rem 0.05rem rgba(255, 136, 0, 0.541), -0.05rem -0.05rem rgba(255, 136, 0, 0.541);
    transition: all 2s;
}
.tituloNavBar a h1:hover{
    text-shadow: 0px 0px 1rem rgb(0, 255, 21);
    transition: all 2s;
}
/*FOTO LOGO Y FOTO USUARIO*/
.foto.logo, .foto.usuario{
    background-size: contain;
    background-position: center;
    width: 3rem;
    height: 3rem;
    background-repeat: no-repeat;
    transition: all 5s;
}
.foto.logo:hover, .foto.usuario:hover{
    transform: rotate(360deg);
    transition: all 5s;
}
/* ESTILO HERO */
.hero{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 45rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    transition: all 5s;
}
.hero:hover{
    background-position: top;
    transition: all 5s;
}
/* ESTILO H2 DEL HERO */
.hero h2{
    font-size: 2rem;
    color:white;
    text-shadow: 0.1rem 0.1rem rgba(255, 136, 0, 0.541);
}
/* ESTILO CALL TO ACTION HERO */
#callToActionHero{
    background-color: rgba(0, 0, 0, 0.541);
    border-radius: 2rem;
    /* rgba(0, 0, 0, 0.541) */
    color:white;
    padding: 1rem;
    border: transparent;
    /* border: 0.1rem solid red; */
    font-size: 1rem;
    transition: all 1s;
    cursor: pointer;
}
#callToActionHero:hover{
    background-color: rgba(255, 136, 0, 0.541);
    /* background-image: url('./pages/shrek.gif');
    background-size: cover;
    background-position: center; */
    color: black;
    transition: all 1s;
}
/* ESTILOS CARRUSEL */
.carrusel{
    background-color: rgba(0, 0, 0, 0.158);
    padding: 1rem 0;
}
.carrusel h2{
    text-align: center;
    font-size: 2rem;
    color: white;
    text-shadow: 0.1rem 0.1rem rgba(255, 136, 0, 0.541), -0.1rem -0.1rem rgba(255, 136, 0, 0.541);
    transition: all 2s;
}
.carrusel h2:hover{
    text-shadow: 0.1rem 0.1rem 2rem rgba(233, 172, 6, 0.918);
    transition: all 2s;
}
.carruselContainer{
    display: flex;
    align-self: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 95%;
    height: 40rem;
}
.ciudadesCarrusel{
    width: 45%;
    height: 45%;
    margin: 1rem 1rem;
    text-align: center;
    /* display:flex; */
    /* flex-direction: column; */
    justify-content: space-evenly;
    align-items: flex-start;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 1s;
    
}
.ciudadesCarrusel:hover{
    box-shadow: 0px 0px 1rem 0.5rem rgba(255, 255, 0, 0.50) ;
    -webkit-box-shadow: 0px 0px 1rem 0.5rem rgba(255, 255, 0, 0.50) ;
    -moz-box-shadow: 0px 0px 1rem 0.5rem rgba(255, 255, 0, 0.50) ;
}
.ciudadesCarrusel p{
    font-size: 2.5rem;
    color: white;
    /* background-color: rgba(238, 4, 4, 0.541); */
    text-shadow: 0.1rem 0.1rem rgba(238, 109, 4, 0.76);
}
.nombresCiudadesCarrusel{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    /* background-color: rgba(238, 109, 4, 0.76); */
    background-color: rgba(0, 0, 0, 0.75);
}
.carruselHandler{
    display:flex;
    justify-content: center;
    width: 100%;
}
.carruselHandler button{
    visibility: hidden;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 1rem;
    background-color: rgba(255, 255, 255, 0.493);
    font-size: 1rem;
    border-radius: 100%;
    align-self: center;
    cursor: pointer;
    transition: all 3s;
}
.carrusel:hover .carruselHandler button{
    visibility: visible;
}
.carrusel:hover .carruselHandler button:hover{
    background-color: rgba(255, 255, 0, 0.87);
    color: black;
    transition: all 3s;
}
.ciudadesCarrusel:hover{
    background-position: bottom;
    transition: all 4s;
}
/* ESTILOS BOTONES CARRUSEL */
.botonesAbajoCarrusel{
    display: flex;
    justify-content: center;
}
.botonesAbajoCarrusel p{
    font-size: 4rem;
    margin: 0 2rem;
}
.botonesAbajoCarrusel p.btnActual{
    color: yellow;
    text-shadow: 0.1rem 0.1rem 1rem orange, -0.1rem -0.1rem 1rem orange;
    cursor: pointer;
    transition: all 0.5s;
}
.botonesAbajoCarrusel p.btnSiguiente, .botonesAbajoCarrusel p.btnAnterior{
    color: white;
    cursor: pointer;
    transition: all 0.5s;
}

/* FOTOS REDES */
.fotosRedes{
    width: 20%;
    height: 2.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: tomato; */
}
.fotosRedes a{
    width: 2.5rem;
    height: 100%;
}
.fotosRedes a div{
    height: 100%;
    width: 2.5rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* SEGUNDO CARRUSEL */
.actual{
    display: flex;
    /* visibility: visible; */
    align-self: center;
    justify-content: center;
    /* flex-direction: column; */
    flex-wrap: wrap;
    width: 100%;
    height: 40rem;
}
.siguiente{
    display:none;
    /* visibility: hidden; */
}
.anterior{
    /* visibility: hidden; */
    display:none;
}
/* .otro{
    display:none;
    transform: translateX(300%);
    z-index: -20;
    opacity: 0;
    transition: all 3s;
}
.carrusel2{
    overflow-x: hidden;
    width: 100%;
}
.carruselHandler2{
    display:flex;
    overflow: hidden;
    width: 100%;
}
.carruselHandler2 button{
    width: 2rem;
    height: 2rem;
    margin: 0 1rem;
    background-color: rgba(255, 255, 255, 0.493);
    font-size: 1rem;
    border-radius: 100%;
    align-self: center;
}

.carousel.slide{
    width: 95%;
    height: 60vh;
} */
/* img{
    width: 45vw;
    height: 30vh;
} */
/* .carousel-unidad{
    margin-bottom: 2vh;
    width: 45vw;
    height: 30vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.carousel-unidad p{
    color: white;
    font-size: 3rem;
    text-align: center;
}
.carousel-inner{
    width: 100%;
    height: 100%;
}
.carousel-item.active{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
} */

/* .shrek{
    background-image: url('./pages/mayonesa.gif');
    background-size: cover;
    background-position: center;    
} */

.seMueve.derecha{
    transform: translateX(-150%);
    transition: all 0.5s;
}
.seMueve.izquierda{
    visibility: hidden;
    transform: translateX(150%);

}
.noSeMueve{
    transform: translateX(0);
    transition: all 0.5s;
}