html * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 1vw;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Montserrat', sans-serif;
}
/*MAGIA FLEXBOX EN ROOT*/
#root{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    background-color: rgba(9, 1, 54, 0.863);
    /* rgba(9, 1, 54, 0.863) */
}
/* MAGIA FLEXBOX EN HEADER */
header, footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgba(7, 1, 32, 0.76); */
    background-color: black; /*CAMBIAR O TOCAR COLORES*/
    /* border: 0.1rem solid black; */
    width: 100%;
    /* margin-top: 1rem; */
    padding: 0 2rem;
    min-height: 5rem;
    
}
header{
    border-top: transparent;
}
/* MAGIA MAIN */
main{
    width: 100%;
    display:flex;
    flex-direction: column;
    flex-grow: 1;
}
/* MAGIA FOOTER */
footer{
    color:white;
    margin-top: 0;
    border-bottom: transparent;   
}
/* ESTILOS NAVBAR */
header nav, footer nav{
    display: flex;
    /* background-color: lightyellow; */
    justify-content: space-between;
    align-items: center;
    width: 30%;
    font-size:1.4rem;
}
footer nav{
    width: 15%;
}
header nav a, footer nav a{
    color: white;
    text-decoration: none;
}
header nav a:hover, footer nav a:hover{
    text-decoration: underline;
}
header nav a.active, footer nav a.active{
    color: goldenrod; 
}
.titleNavBar{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.titleNavBar a{
    text-decoration: none;
}
.titleNavBar a h1{
    margin-left: 1rem;
    color: white;
}
/*FOTO LOGO Y FOTO USUARIO*/
.photo.logo, .photo.user{
    background-size: contain;
    background-position: center;
    width: 3rem;
    height: 3rem;
    background-repeat: no-repeat;
    transition: all 5s;
}
.photo.logo:hover, .photo.user:hover{
    transform: rotate(360deg);
    transition: all 5s;
}
/* ESTILO HERO */
.hero{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    transition: all 5s;
}
.hero:hover{
    background-position: top;
    transition: all 5s;
}
/* ESTILO H2 DEL HERO */
.hero h2{
    font-size: 2rem;
    color:white;
    text-shadow: 0.1rem 0.1rem rgba(255, 136, 0, 0.541);
}
/* ESTILO CALL TO ACTION HERO */
#callToActionHero{
    background-color: rgba(0, 0, 0, 0.541);
    border-radius: 2rem;
    /* rgba(0, 0, 0, 0.541) */
    color:white;
    padding: 1rem;
    border: transparent;
    /* border: 0.1rem solid red; */
    font-size: 1rem;
    transition: all 1s;
    cursor: pointer;
}
#callToActionHero:hover{
    background-color: rgba(255, 136, 0, 0.541);
    color: black;
    transition: all 1s;
}
/* FOTOS REDES */
.socialMedia{
    width: 20%;
    height: 2.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.socialMedia a{
    width: 2.5rem;
    height: 100%;
}
.socialMedia a div{
    height: 100%;
    width: 2.5rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* CAROUSEL SLICK POSICIONAMIENTO Y TAMAÑOS */
.carouselSlickContainer{
    align-self: center;
    width: 95%;
    text-align: center;
    margin: 2rem 0;
}
.carouselSlickContainer h2{
    color:white;
    text-shadow: 0.1rem 0.1rem rgba(255, 136, 0, 0.541);
    margin-bottom: 1rem;
    font-size: 2rem;
    
}
/* ESTILO CADA CIUDAD */
.carouselSlideInfo{
    width: 90%;
    height: 20rem;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    transition: all 3s;
    box-shadow: 0.1rem 0.1rem 0.5rem 0.1rem black;
    -webkit-box-shadow: 0.1rem 0.1rem 0.5rem 0.1rem black;
    -moz-box-shadow: 0.1rem 0.1rem 0.5rem 0.1rem black;
}
.carouselSlideInfo:hover{
    background-position: bottom;
    transition: all 3s;
    box-shadow: 0px 0px 0.5rem 0.2rem rgb(255, 255, 0);
    -webkit-box-shadow: 0px 0px 0.5rem 0.2rem rgb(255, 255, 0);
    -moz-box-shadow: 0px 0px 0.5rem 0.2rem rgb(255, 255, 0);
}
.carouselSlideInfo p{
    background-color: rgba(0, 0, 0, 0.486);
    font-size: 2rem;
    color: white;
    text-shadow: 0.1rem 0.1rem rgba(255, 136, 0, 0.541);
}
/* BOTONES SLICK */
.slick-next{
    right: -1rem;
}
.slick-prev{
    left: -1rem;
}
.slick-dots{
    margin-bottom: 1rem;
}
/* ARREGLO PROBLEMA DE DOBLE BOTON CON OPACIDAD 1 */
.slick-dots li button:focus:before { opacity: 0.25; }
.slick-dots li.slick-active button:focus:before,  .slick-dots li button:hover:before { opacity: 1; }
.slick-dots li button{
    background-color: rgba(255, 255, 255, 0.801);
    border: 1px solid rgba(255, 136, 0, 0.541);
    border-radius: 100%;
}

/* CITIES PAGE */

/* CONTAINER WELCOME CITIES PAGE */
.filterCitiesImage{
    background-position: bottom;
    background-size: cover;
}
.filterCitiesContainer{
    width: 100%;
    height: 23rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.filterCitiesContainer h2{
    font-size: 3rem;
    color: white;
    text-shadow: 0.1rem 0.1rem rgba(255, 136, 0, 0.541);
    background-color: rgba(99, 99, 99, 0.281);
    margin-bottom: 1rem;
}
.filterCitiesContainer p{
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
    color: white;
    background-color: rgba(99, 99, 99, 0.281);
}
span.specialText{
    color: goldenrod;
    font-style: italic;
}
.filterCitiesContainer input{
    text-align: center;
    font-size: 1.2rem;
    border-radius: 1rem;
    padding: 0.5rem 0;
    margin-top: 1rem;
    border: transparent;
    background-color: rgba(255, 255, 255, 0.479);
    transition: all 1s;
}
.filterCitiesContainer input:focus{
    outline: none;
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0.1rem 0.1rem 0.5rem 0.1rem black;
    -webkit-box-shadow: 0.1rem 0.1rem 0.5rem 0.1rem black;
    -moz-box-shadow: 0.1rem 0.1rem 0.5rem 0.1rem black;
    transition: all 2s;
}
/* CITIES CARD CONTAINER */
.cardCitiesContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cardCitiesContainer a{
    width: 30rem;
    height: 20rem;
    margin: 1rem 1rem;
    text-decoration: none;
}
/* ONE CITY PER CARD STYLES */
.cardCity{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    box-shadow: 0.1rem 0.1rem 0.5rem 0.1rem black;
    -webkit-box-shadow: 0.1rem 0.1rem 0.5rem 0.1rem black;
    -moz-box-shadow: 0.1rem 0.1rem 0.5rem 0.1rem black;
    cursor: pointer;
    transition: all 1s;
}
.cardCity:hover{
    transition: all 1s;
    box-shadow: 0px 0px 0.5rem 0.2rem rgb(255, 255, 0);
    -webkit-box-shadow: 0px 0px 0.5rem 0.2rem rgb(255, 255, 0);
    -moz-box-shadow: 0px 0px 0.5rem 0.2rem rgb(255, 255, 0);
}
.cardCity div p{
    text-align: center;
    color: white;
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0.548);
}
.cardCity div p.title{
    font-size:2rem;
}
.cityDescription{
    margin-top: 3rem;
}
/* CARTEL DE NO HAY CIUDAD */
.noCitiesContainer{
    text-align: center;
    color: white;
    font-size: 2rem;
    margin-top: 2rem;
}

/* ITINERARIES PAGE STYLES */
.mainItinerary{
    display: flex;
}
.photoItinerary{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 20rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1rem 2rem;
}
.photoItinerary h2, .photoItinerary h3{
    text-shadow: 0.1rem 0.1rem rgba(255, 136, 0, 0.541);
    color:white;
    background-color: rgba(0, 0, 0, 0.5);
}
.photoItinerary h3{
    font-style: italic;
    font-size: 1.8rem;
}
.photoItinerary h2{
    font-size: 2rem;
}
.shortCityDescription{
    color:rgba(255, 255, 255, 0.678);
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    height: 4rem;
}
.shortCityDescription p{
    font-size: 1.3rem;
}
.shortCityDescription p span{
    font-size: 1.5rem;
    margin-right: 1rem;
    text-shadow: 0.05rem 0.05rem white;
}
.mainItinerary a{
    align-self: center;
}
.mainItinerary button{
    background-color: goldenrod;
    border: none;
    border-radius: 2rem;
    font-size: 1.5rem;
    cursor: pointer;
    color:white;
    text-shadow: 0.05rem 0.05rem black;
    padding: 0.5rem 1rem;
}
.itinerariesContainer{
    align-self: center;
    color: white;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1024px) {
    html{
        font-size: 1.2vw;
    }
    header nav{
        width: 55%;
        font-size: 1.6rem;
    }
    footer nav{
        width: 15%;
        font-size: 1.4rem;
    }
    .contactInfo{
        font-size: 1.2rem;
    }
    .socialMedia{
        font-size: 1.2rem;
        width: 20%;
    }
    footer h4{
        font-size: 1.4rem;
    }
    header, footer, main{
        width: 100%;
    }
    #callToActionHero{
        font-size: 1.5rem;
    }
    .hero{
        height: 70rem;
    }
    .carouselSlickContainer h2{
        font-size: 3rem;
    }
    /* CITIES PAGE */
    .filterCitiesContainer h2{
        font-size: 2.5rem;
        text-align: center;
    }
    .filterCitiesContainer p{
        font-size: 1.5rem;
    }
    .filterCitiesContainer input{
        font-size: 2rem;
    }
    /* ONE CITY PER CARD STYLES */
    .cardCitiesContainer a{
        width: 45%;
    }
    .cardCity{
        width: 100%;
    }
    .cardCity div p{
        text-align: center;
        color: white;
        font-size: 1.8rem;
        background-color: rgba(0, 0, 0, 0.548);
    }
    .cardCity div p.title{
        font-size:3rem;
    }
    .cityDescription{
        margin-top: 3rem;
    }
}
@media screen and (max-width: 800px) {
    html{
        font-size: 1.5vw;
    }
    header nav{
        width: 60%;
        font-size: 1.5rem;
    }
    footer nav{
        width: 15%;
        font-size: 1.3rem;
    }
    header, footer, main{
        width: 100%;
    }
    #callToActionHero{
        font-size: 1.5rem;
    }
    .hero{
        height: 60rem; 
    }
    .hero h2{
        font-size: 2.5rem;
        text-align: center;
    }
    .citiesCarousel p{
        font-size: 2rem;
    }
    footer h4{
        font-size: 1.4rem;
    }
    .contactInfo{
        font-size: 1.2rem;
    }
    .socialMedia{
        font-size: 1.2rem;
        width: 30%;
    }
    .hero{
        height: 100vh;
    }
    .carouselSlickContainer h2{
        font-size: 3rem;
    }
    /* CITIES PAGE */
    .filterCitiesContainer h2{
        font-size: 2rem;
        text-align: center;
    }
    .filterCitiesContainer p{
        display:none;
    }
    .filterCitiesContainer input{
        font-size: 2rem;
    }
    /* ONE CITY PER CARD STYLES */
    .cardCitiesContainer a{
        width: 45%;
    }
    .cardCity{
        width: 100%;
    }
    .cardCity div p{
        font-size: 1.5rem;
    }
    .cardCity div p.title{
        font-size:2rem;
    }
}
@media screen and (max-width: 600px){
    html{
        font-size: 2vw;
    }
    .socialMedia{
        display: none;
    }
    footer nav{
        width: 20%;
    }
    /* BOTONES CARRUSEL */
    .slick-next{
        right: -0.8rem;
    }
    .slick-prev{
        left: -1.6rem;
    }
    .carouselSlickContainer h2{
        font-size: 3rem;
    }
    /* CITIES PAGE */
    .filterCitiesContainer h2{
        font-size: 2rem;
        text-align: center;
    }
    .filterCitiesContainer p{
        display:none;
    }
    .filterCitiesContainer input{
        font-size: 2rem;
    }
    /* ONE CITY PER CARD STYLES */
    .cardCitiesContainer a{
        width: 100%;
    }
    .cardCity{
        width: 100%;
    }
    .cardCity div p{
        font-size: 1.8rem;
    }
    .cardCity div p.title{
        font-size:3rem;
    }
}
@media screen and (max-width: 400px) {
    html{
        font-size: 2vw;
    }
    header nav{
        width: 65%;
        font-size: 1.3rem;
    }
    footer nav{
        width: 20%;
        font-size: 1.4rem;
    }
    header, footer, main{
        width: 100%;
    }
    #callToActionHero{
        font-size: 1.5rem;
    }
    .carouselContainer{
        height: 60rem;
    }
    .actualSlide{
        height: 100%;
        width: 100%;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
    }
    .hero{
        height: 60rem; 
    }
    .hero h2{
        font-size: 2rem;
        text-align: center;
    }
    .citiesCarousel p{
        font-size: 2rem;
    }
    .citiesCarousel{
        width: 100%;
    }
    .socialMedia{
        display:none;
    }
    .photo.logo{
        display:none;
    }
    .contactInfo{
        font-size: 1.3rem;
    }
    footer h4{
        font-size: 1.3rem;
    }
    .hero{
        height: 100vh;
    }
    .carouselSlickContainer h2{
        font-size: 3rem;
    }
    /* CITIES PAGE */
    .filterCitiesContainer h2{
        font-size: 2rem;
    }
    .filterCitiesContainer p{
        display:none;
    }
    .filterCitiesContainer input{
        font-size: 2rem;
    }
    /* ONE CITY PER CARD STYLES */
    .cardCity{
        width: 100%;
    }
    .cardCity div p{
        font-size: 1.8rem;
    }
    .cardCity div p.title{
        font-size:3rem;
    }
    .cityDescription{
        margin-top: 3rem;
    }
}
@media screen and (max-width: 300px) {
    header nav{
        font-size: 2rem;
        width: 80%;
    }
    footer nav{
        font-size: 2rem;
        width: 45%;
    }
    .contactInfo{
        display: none;
    }
    footer h4{
        font-size: 2rem;
        width: 45%;
    }
    /* CITIES PAGE */
    .filterCitiesContainer h2{
        font-size: 2rem;
    }
    .filterCitiesContainer p{
        display:none;
    }
    .filterCitiesContainer input{
        font-size: 2rem;
    }
    /* ONE CITY PER CARD STYLES */
    .cardCity{
        width: 100%;
    }
    .cardCity div p{
        font-size: 1.8rem;
    }
    .cardCity div p.title{
        font-size:3rem;
    }
    .cityDescription{
        margin-top: 3rem;
    }
}

